.contactImgStyle {
    width: 100px;
    height: 100px;
}

  .contactBox {
      height: 400px;
      width: 100%;
      background-color: #8FBC8F;
  }
  .marginTop20 {
      margin-top: 20px;
  }
  .width95 {
      width: 100%;
  }